.sellkit-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 15px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  border-right-color: #635cff;
}
.sellkit-notice h3 {
  margin-top: 0;
}
.sellkit-notice .sellkit-notice-content {
  display: block;
  padding: 20px;
}
.sellkit-notice .sellkit-notice-content .sellkit-notice-content-footer {
  margin-top: 15px;
}
.sellkit-notice .sellkit-notice-aside {
  width: 55px;
  background-color: rgba(223, 222, 255, 0.3);
  text-align: center;
}
.sellkit-notice .sellkit-notice-aside-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 20px -4px 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' style='enable-background:new 0 0 500 500;' xml:space='preserve' viewBox='127.4 127.6 244.7 244.6'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23635CFF;%7D .st1%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M315.5,372.2H183.9c-31.2,0-56.5-25.3-56.5-56.5V184.1c0-31.2,25.3-56.5,56.5-56.5h131.7 c31.2,0,56.5,25.3,56.5,56.5v131.7C372,346.9,346.7,372.2,315.5,372.2z'/%3E%3Cpath class='st1' d='M300,215.2l-18.1,60.5h-55.2l-18.1-60.5h-36.8v26.3h17.2l18.1,60.5h94.3l26-86.8H300z M254.5,219.7l17.6,15.4 l17.3-19.8l-34.9-30.5l-34.9,30.5l17.3,19.8L254.5,219.7z'/%3E%3C/svg%3E");
  background-size: cover;
  vertical-align: middle;
}